@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* styles.css */
.nav-menu {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure all parent containers also take up the full height */
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Make the main content area expand to fill the available space */
main {
  flex-grow: 1;
}

.page-container {
  padding-left: 10px;
  padding-right: 10px;
}

/* styles.css or your custom stylesheet */
.footer-container {
  padding-left: 20px; /* Adjust the left padding as needed */
  padding-right: 20px; /* Adjust the right padding as needed */
}
.header-container {
  padding-left: 20px; /* Adjust the left padding as needed */
  padding-right: 20px; /* Adjust the right padding as needed */
}

button {
  margin-bottom: 20px; /* Adds 5px of padding to all buttons */
}